AWS_REGION=us-east-1
AWS_ENDPOINT=http://localhost:4566
SQS_QUEUE_NAMES_VIDEO_PROCESSING_REQUESTED=fiapx-dev-video-processing-requested
SQS_QUEUE_NAMES_VIDEO_PROCESSING_COMPLETED=fiapx-dev-video-processing-completed
S3_BUCKET=fiapx-dev-videos
FRAME_PREFIX=frames